<div class="jumbotron jumbotron-fluid bg-danger rounded-lg mt-3 mb-3">
    <div class="container text-white">
        <h1 class="display-4 text-center myfont-title ">MI PRIMER PINTEREST</h1>
        <hr class="my-4 bg-light">
        <p class="lead myfont-p">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui, culpa! </p>
        <p class="text-right mb-0">
            <span class="badge badge-pill badge-dark">by Guillermo Gibson</span>
        </p>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <div class="card border-danger mb-3">
            <!-- 16:9 aspect ratio -->
            <div class="card-body ">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe title="Pinterest" class="embed-responsive-item" src="https://www.youtube.com/embed/CfuchTRTLGU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="card bg-danger">
            <!-- 16:9 aspect ratio -->
            <div class="card-body ">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe title="Pinterest" class="embed-responsive-item" src="https://www.youtube.com/embed/9TA8S_hbZSU?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="col myfont-letter">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis cupiditate minima illum, qui aut, sed quam impedit corrupti ullam doloribus hic quod dicta. Exercitationem sequi odit corporis, nostrum asperiores labore! </p>
        
        <%= image_tag ('camare.png'), class: 'mb-3 rounded-lg', alt: "Camare" %>
        
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam non officiis nisi itaque, tempore magni id dolore et! Sint distinctio odit autem perspiciatis! Repudiandae porro optio aliquid harum velit veniam?Quidem reiciendis tenetur odio placeat dicta alias labore mollitia? Fuga quasi quas nihil praesentium adipisci corrupti quod quo culpa rem. Officia mollitia sequi commodi voluptas et nemo obcaecati optio aspernatur.</p>
    </div>
</div>
